# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Streamlit
.streamlit/secrets.toml

# Project specific
chroma_store/
.pytest_cache/
.coverage
htmlcov/
.DS_Store

# Replit specific
.config/
.upm/
poetry.lock
.breakpoints
.replit/
replit.nix
.pythonlibs/
